.home {
  /* background-color: var(--white-color); */
  background-image: url(../../public/images/banner.jpg);
  background-size: cover;
  background-origin: center;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 3fr 2.5fr;
  position: relative;
}

.right {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.title-sec {
  transform: translateX(-190%);
}

.main-title-container {
  margin-top: 100px;
  min-height: 160px;
  min-width: 100px;
  position: relative;
}

.main-title {
  position: absolute;
  top: -100%;
  left: -35%;
  width: 100%;
}

.title-stroke {
  opacity: 0.8;
  font-size: 11rem;
  transform: translateX(-180%);
  word-spacing: 10px;
  color: transparent;
  font-weight: bolder;
  line-height: 11rem;
  text-transform: uppercase;
  -webkit-text-stroke-width: 2px; /* 1px Stroke */
  -webkit-text-stroke-color: var(--white-color); /* White */
  background-image: url('../../public/images/banner.jpg');
  background-size: contain;
  background-clip: text;
  -webkit-background-clip: text;
}

.title-solid {
  opacity: 0.9;
  font-size: 5.5rem;
  color: var(--highlight-color);
  font-weight: bolder;
}
.sub-title {
  width: 100% !important;
  display: block;
}
.sub-title h3 {
  color: var(--white-color);
  font-size: 1.1rem;
  opacity: 0.7;
  margin-left: 1%;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.sub-title .sub-para {
  padding: 10px;
  font-weight: 200;
  color: var(--white-color);
  opacity: 0.8;
  font-size: 1.05rem;
  letter-spacing: 1.5px;
  max-width: 80%;
  /* display: none; */
}

.scroll-down {
  position: absolute;
  left: 50%;
  top: 90%;
  transform: translate(-50%, -50%) rotate(180deg);
  font-weight: bolder;
  width: 100px;
  height: 70px;

  animation: upDown infinite 2.5s var(--transition-type);
}

@keyframes upDown {
  0% {
    top: 90%;
  }
  50% {
    top: 92%;
  }
  100% {
    top: 90%;
  }
}

@media screen and (max-width: 1000px) {
  .home {
    grid-template-columns: 2.2fr 2fr;
  }
}

@media screen and (max-width: 900px) {
  .home {
    grid-template-columns: 2fr 3fr;
  }
}

@media screen and (max-width: 690px) {
  .home {
    grid-template-columns: 1fr 3fr;
  }

  .title-stroke {
    font-size: 9rem;
    transform: translateX(-50%);
  }
}

@media screen and (max-width: 550px) {
  .home {
    grid-template-columns: 1fr;
    height: 80vh;
    min-height: 500px;
  }
  .left {
    display: none;
  }

  .title-stroke {
    font-size: 7rem;
    transform: translateX(0%);
    line-height: 8rem;
  }
  .main-title {
    left: 0;
  }
  .title-solid {
    font-size: 3.5rem;
    transform: translateX(10%);
  }
  .sub-title h3 {
    margin-left: 5%;
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 490px) {
  .title-stroke {
    font-size: 7rem;
    transform: translateX(0%);
    line-height: 8rem;
  }
  .main-title {
    left: 25%;
  }
  .title-solid {
    font-size: 3.5rem;
    transform: translateX(10%);
  }
}
